* {
  margin: 0;

  +* {
    margin-top: $margin-default;

    @media (min-width: 480px) {
      margin-top: calc( 16px * $line-height-default / 2 );
    }

    @media (min-width: 768px) {
      margin-top: calc( 18px * $line-height-default / 2 );
    }
  }

  &,&::before,&::after {
    box-sizing: border-box;
  }
}

body {
  margin: 0;
  background-color: $color-background;
}

img {
  max-width: 100%;
  height: auto;
}
