$color-background:   #fafcf8; /* Light tannish */
$color-main:         #225378; /* Dark blue */
$color-pop:          #eb7f00; /* Orange */
$color-accent-dark:  #1695a3; /* Blue-green */
$color-accent-light: #acf0f2; /* Sky blue */

$color-text-dark:    #454c52;
$color-text-light:   color( $color-background tint(5%) );

$font-family-default: 'Gotham A', 'Gotham B', gotham, sans-serif;
$font-size-default: 14px;
$font-weight-default: 300;
$line-height-default: 1.5;

$margin-default: calc( $font-size-default * $line-height-default / 2 );
