extends layouts/default.jade

block site-content
  section.site-content.site-content__404
    section.site-content__section.hero
      h1.hero__heading That Page Doesn&rsquo;t Exist
      h2.hero__subheading The link you clicked seems to be dead. If you typed the address in manually, please check it and try again.
      p.hero__lede If not, please let us know where you clicked so we can fix it.
      a.hero__button(href="mailto:team@getrefocus.com") Send Us a Message
