@define-mixin button {
  display: block;
  width: 100%;
  padding: 2vw;
  background: $color-pop;
  border: 1px solid color( $color-pop shade(5%) );
  box-shadow: 0 1px 4px 1px color( $color-background alpha(50%) );
  color: $color-text-light;
  font-size: 110%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 color( $color-pop shade(5%) );
  text-transform: uppercase;
  transition: 200ms all linear;

  &:active,&:focus,&:hover {
    background: color( $color-pop shade(10%) );
    border-color: color( $color-pop shade(15%) );
    color: color( $color-text-light tint(50%) );
    outline: 0;
    text-shadow: 2px 2px 2px color( $color-pop shade(25%) );
  }

  &:hover {
    box-shadow: 0 1px 4px 2px color( $color-background alpha(75%) );
  }

  @media (min-width: 480px) {
    padding: 1.5vw;
  }

  @media (min-width: 768px) {
    padding: $margin-default;
  }
}
