$floating-bar-height: 50px;

.floating-bar {
  position: relative;
  width: 100vw;
  height: $floating-bar-height;
  margin: 0;
  padding: 0 5vw;
  background: $color-background;
  border-bottom: 1px solid color( $color-accent-light tint(40%) );
  transition: 200ms all linear;

  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
  }

  &--hidden {
    pointer-events: none;
    transform: translateY(-100%);
  }

  /*
   * This prevents the float-pop thing that happens when the URL bar slides in
   * and out in Chrome for iOS.
   */
  backface-visibility: hidden;

  &__nav-items {
    position: relative;
    max-width: 575px;
    margin: 0 auto;
    padding: 0;
    text-align: left;

    @media (min-width: 880px) {
      max-width: 800px;
    }
  }

  &__nav-item {
    position: relative;
    display: none;
    margin: 0;
    z-index: 2;

    &--time-left {
      display: inline-block;
      font-size: 140%;
      font-weight: 500;
      line-height: 2;
    }

    &--button {
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
    }

    &--current {
      display: inline-block;
    }

    @media (min-width: 768px) {
      display: inline-block;

      &--current a {
        color: $color-pop;
      }
    }
  }

  &__nav-link {
    display: block;
    padding: calc( $margin-default * 0.5 ) 0.5em;
    color: $color-text-dark;
    font-size: 110%;
    font-weight: 500;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 0;
  }

  &__text-bold {
    display: block;

    @media (min-width: 480px) {
      display: inline-block;
      margin-right: 0.5em;
    }
  }

  &__button {
    @mixin button;
    margin: 5px 0;
    padding: calc( $margin-default * 0.625 ) 0.75em;
    font-size: 90%;
    font-weight: 500;
    line-height: 2;
    -webkit-font-smoothing: subpixel-antialiased;

    @media (min-width: 480px) {
      display: inline-block;
      max-width: 280px;
      margin-left: calc( 0.5em * 2 );
      padding: calc( $margin-default * 0.5 ) calc( 0.5em * 2 );
      font-size: 85%;
    }

    @media (min-width: 768px) {
      margin: 6px 0;
      padding: calc( $margin-default * 0.25 ) 0.75em;
    }
  }

  /*
   * This is a second nav that's added by JavaScript on smaller viewports. I
   * added this because sometimes I like to make things far harder for myself
   * than necessary, simply so I can climb up on my high horse and say, "Hey,
   * all you lazy developers who copped out with hamburger menus! Look at this
   * marginally more efficient UX approach of tabbed nav! Yeah! I'm the best!"
   */
  /*&--mobile-tabbed-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    font-family: $font-family-default;
    border-bottom: 0;
    border-top: 1px solid color( $color-accent-light tint(40%) );
    z-index: 900;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &--mobile-tabbed-nav &__nav-items {
    display: flex;
    align-items: space-between;
    justify-content: flex-end;
  }

  &--mobile-tabbed-nav &__nav-item {
    display: inline-block;
    flex: 1 20%;
    border-left: 1px solid color( $color-accent-light tint(40%) );
    text-align: center;

    >a {
      transition: 200ms all linear;
      opacity: 0.5;
    }

    &:first-child {
      border-left: 0;
    }

    &:hover>a,&:active>a,&:focus>a {
      opacity: 0.75;
    }

    &--current>a {
      background-color: color( $color-pop tint(90%) );
      opacity: 1;
    }

    &--button {
      display: none;
    }
  }

  &--mobile-tabbed-nav &__nav-link {
    display: block;
    height: 56px;
    color: $color-accent-dark;
    font-size: 8px;
    font-weight: $font-weight-default;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding-top: 30px;
    background-image: url(/img/tab_what-is-procoach.svg);
    background-position: top 5px center;
    background-repeat: no-repeat;
    background-size: 24px;

    @media (min-width: 550px) {
      padding-top: 40px;
      background-size: 35px;
    }
  }*/
}

/* Hack it up, hack it up, hack it up, haaack, it up. */
.--hack_floating-bar__sibling--add-top-margin {
  margin-top: $floating-bar-height;
}
