.guarantee {
  @mixin section;
  background: color( $color-pop tint(90%) );
  border-bottom: 1px solid color( $color-pop tint(50%) );
  border-top: 1px solid color( $color-pop tint(50%) );

  &__icon-wrapper {
    text-align: center;
  }

  &__icon {
    max-width: 200px;
  }

  &__heading {
    font-size: 140%;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 205%;
    }
  }

  &__subheading {
    font-size: 160%;
    line-height: 1.1;
    text-align: center;
  }

  &__body-text {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    font-size: 90%;
  }

  @media (min-width: 768px) {
    background-image: linear-gradient(to bottom,
        color( $color-pop tint(90%) alpha(95%) ) 0%,
        color( $color-pop tint(90%) alpha(95%) ) 100%
      ),
      url(/images/refocus_guarantee.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%, 80%;
  }
}
