.is-refocus-right {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  &__subheading {
    margin-top: calc( $margin-default * 4 );
    font-size: 150%;
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
  }

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: calc( $margin-default * 3 );
    padding-top: 70px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50px;

    @media (min-width: 650px) {
      padding-top: 0;
      padding-left: 70px;
      background-position: left center;
    }

    &--not-right {
      background-image: url(/images/refocus_not-for.svg);
    }

    &--right {
      background-image: url(/images/refocus_for.svg);
    }
  }

  &__join-us {
    margin-top: calc( $margin-default * 4 );
    font-size: 115%;
    font-weight: 500;
    text-align: center;
  }
}
