.modules {

  &__list {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 5vw;
    list-style: none;
    background-color: color( $color-accent-light tint(80%) );
    border: 1px solid color( $color-accent-light tint(15%) );
    border-left-width: 0;
    border-right-width: 0;

    @media (min-width: 600px) {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1em 3em 3em;
    }

    @media (min-width: 768px) {
      padding: 1em 3em 3em;
      border-radius: 10px;
      border-left-width: 1px;
      border-right-width: 1px;
    }
  }

  &__module {
    margin: 2em 0 0;

    @media (min-width: 600px) {
      flex: 1 47%;
      max-width: 47%;
    }

    @media (min-width: 768px) {
      flex: 1 30%;
      max-width: 30%;
    }
  }

  &__week {
    font-size: 75%;
    text-align: center;
    text-transform: uppercase;
  }

  &__image {
    margin-top: calc( $margin-default / 2 );
  }

  &__title {
    display: block;
    margin-top: calc( $margin-default / 2 );
    font-size: 83%;
    line-height: 1.1;
    text-align: center;
  }
}
