.signatures {
  margin-top: 40px;
  text-align: center;

  &__sign-off {
    text-align: center;
  }

  &__photo {
    display: block;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    border: 1px solid $color-main;
  }

  &__sig {
    width: 49%;
    max-width: 250px;
    min-width: 120px;
    margin-top: 0;
  }
}
