.testimonial {
  background: color( $color-accent-light tint(80%) );
  border-bottom: 2px solid $color-accent-light;
  border-top: 4px solid $color-accent-dark;

  &__quote {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 5vw 1.5em;

    @media (min-width: 650px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /*@media (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }*/
  }

  &__quote-text {
    font-size: 110%;
    font-style: italic;

    @media (min-width: 650px) {
      flex: 2 70%;
      max-width: 65%;
    }
  }

  &__quote-attribution {
    text-align: center;

    @media (min-width: 650px) {
      flex: 1 30%;
      max-width: 30%;
    }
  }

  &__quote-author-photo {
    max-width: 125px;
    margin: 0 auto;
    background: $color-accent-dark;
    border: 3px solid $color-accent-dark;
    border-radius: 50%;
  }

  &__quote-author {
    margin-top: 0;
    font-size: 75%;
  }

  &__quote-author-name {
    display: block;
    font-size: 115%;
  }
}
