extends ../layouts/default.jade

block append head
  script(src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer)
  script.
    window.addeventasync = function(){
        addeventatc.settings({
            license    : "acPzuFbemzEvWqrXtmEp16085"
        });
        document.getElementsByClassName('event-adder')[0].classList.remove('event-adder--hidden');
    };

block append site-vars
  -
    config.type = "landing-page";
  -

block page-content
  | {{ .Content }}
