nav.floating-bar
  ul.floating-bar__nav-items
    li.floating-bar__nav-item.floating-bar__nav-item--time-left.time-left
      span.time-left__description
        | Refocus is only available until 
        br.time-left__hide-on-large-viewports
        strong Friday, April 22 at 11:59PM Eastern
        | .
      span.time-left__days 00
      span.time-left__hours 00
      | :
      span.time-left__minutes 00
      | :
      span.time-left__seconds 00
    li.floating-bar__nav-item.floating-bar__nav-item--button
      a.floating-bar__button(
        href="#get-the-system"
      )
        | New Payment Plan
