aside.testimonial
  blockquote.testimonial__quote
    p.testimonial__quote-text
      | “Refocus was really helpful because it got me to ask all the questions I was afraid to ask on my own. It forced me to sit down and analyze what parts [of my life] gave me a sense of fulfillment, and what made me unhappy and unproductive…I was able to put together a plan that enabled me to make the changes I needed to make.”
    figure.testimonial__quote-attribution
      img.testimonial__quote-author-photo(
        src="/images/jcdeen.jpg"
        alt="praise from JC Deen for Refocus"
        srcset="/images/jcdeen.jpg 1x, /images/jcdeen@2x.jpg 2x"
      )
      figcaption.testimonial__quote-author
        strong.testimonial__quote-author-name
          | JC Deen
        span.testimonial__quote-author-role
          em Refocus
          |  graduate
